<!-- <p>footer works!</p> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
<body>
    <footer class="footer">
         <div class="container">
             <div class="row">
                 <div class="footer-col">
                     <h4>Book App</h4>
                     <ul>
                         <li><a href="#">Home</a></li>
                         <li><a href="#">About Us</a></li>
                         <li><a href="#">Contact Us</a></li>
                     </ul>
                 </div>
                 <div class="footer-col">
                     <h4>Get Help</h4>
                     <ul>
                         <li><a href="#">Order Now</a></li>
                         <li><a href="#">Ask Us</a></li>
                     </ul>
                 </div>
                 <div class="footer-col">
                     <h4>Address</h4>
                     <ul>
                         <li><a href="#">
                         Amman – Jordan<br/>
  Telephone: +962-6-0000000<br/>
  email: bookApp@jo.org<br/>
  Mailing address: P.O. Box 17101 Amman 11195 Jordan<br/>
  </a></li>
                     </ul>
                 </div>
                 <div class="footer-col">
                     <h4>follow us</h4>
                     <div class="social-links">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>  
                        <a href="#" class="fa fa-linkedin"></a>  
                        <a href="#" class="fa fa-instagram"></a>
                     </div>
                 </div>
             </div>
         </div>
    </footer>
  
  </body>
